@page "/profile"
@page "/profile/{id}"

@inject NavigationManager navManager;
@inject IUserRepository userRepository;
@inject IDialogService dialogService;

@if (loaded && Profile != null)
{
    <MudCard Elevation="3">
        <MudCardHeader Class="d-flex flex-row gap-10">
            <div class="gap-10">
                <Avatar Clickable="false" Account="Profile" />
                <div class="d-flex flex-column cursor-pointer" @onclick=@(() => navManager.NavigateTo($"/profile/{Profile.ID}"))>
                    <div class="d-flex flex-row align-center gap-2">
                        <MudText Typo="Typo.h5"><b>@Profile.FullName</b></MudText>
                        @if (Profile.Verified)
                        {
                            <MudIcon Icon="@Icons.Material.Filled.VerifiedUser" Size="Size.Small" Color="Color.Primary" />
                        }
                    </div>
                    <MudText Typo="Typo.caption">@@@Profile.Username</MudText>
                </div>
            </div>
            <div>
                <AuthorizeView Roles="@UserAccount.Admin">
                    <Authorized>
                        <MudTooltip Text="Edit profile settings">
                            <MudIconButton Size="Size.Medium" Icon="@Icons.Material.Filled.Edit" OnClick="@(() => navManager.NavigateTo($"/settings/{Profile.ID}"))" />
                        </MudTooltip>
                    </Authorized>
                </AuthorizeView>
            </div>
        </MudCardHeader>
        <MudCardContent >
            @foreach (var line in Profile.Bio.Split('\n'))
            {
                <MudText Typo="Typo.subtitle2">@line</MudText>
            }
            <br />
            <div class="d-flex flex-row gap-2">
                @{
                    var createdText = $"Created at: {Profile.CreatedAt:dd-MM-yyyy HH:mm}";
                }
                <MudTooltip Delay="500" Text="@createdText">
                    <MudIcon Icon="@Icons.Material.Filled.Cake" />
                </MudTooltip>
                <MudTooltip Delay="500" Text="@createdText">
                    <MudText>
                        @{
                            var timeDifference = DateTime.Now - Profile.CreatedAt;
                            var days = timeDifference.Days;
                            var hours = timeDifference.Hours;
                        }
                        Member for @days days, @hours hours
                    </MudText>
                </MudTooltip>
            </div>

        </MudCardContent>
        <MudCardActions>
            <MudPaper Elevation="5" Class="w100 object-fill grap-3">

            </MudPaper>
        </MudCardActions>
    </MudCard>
}
else if (loaded && Profile == null) //it has loaded but hasnt gotten a profile
{
    <h3>Profile not found!</h3>
}
else
{
    <h3>Profile is loading...</h3>
}

@code {
    [Parameter]
    public string? ID { get; set; }

    public int id
    {
        get
        {
            if (int.TryParse(ID, out int i))
                return i;
            else
                return -1;
        }
    }

    [CascadingParameter(Name = "AuthSession")]
    public bool loggedIn { get; set; } = false;

    [CascadingParameter(Name = "AuthUser")]
    public UserAccount User { get; set; } = null;


    public UserAccount Profile { get; set; } = null;
    private bool loaded;





    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Task.Delay(100);
        if (loggedIn && User != null && !loaded)
        {
            Profile = (await userRepository.GetUsersByFilter(id: User.ID)).FirstOrDefault();
            loaded = true;
            StateHasChanged();
        }
        else if (!loaded)
        {
            navManager.NavigateTo("/login", true);
            return;
        }

    }

    protected override async Task OnInitializedAsync()
    {
        if (id != -1)
        {
            Profile = (await userRepository.GetUsersByFilter(id:id)).FirstOrDefault();
            loaded = true;
        }

    }

}
